<div class="wm-user__panel wm-user__panel--padding">
    <h2 class="wm-subtitle">Refugee crisis</h2>
    <h1 class="wm-title">How can I help?</h1>
    <form class="wm-madlib js-location">
        <button class="wm-madlib__input__btn" type="button">
            <svg class="icon-clear" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" d="M21 9.8l-.8-.8-5.2 4.8-5.2-4.8-.8.8 4.8 5.2-4.8 5.2.8.8 5.2-4.8 5.2 4.8.8-.8-4.8-5.2 4.8-5.2"/></svg>
            <svg class="icon-submit" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" d="M22.82 14.63l-7.62-7.63-.72.7 5.5 6.57h-13.98v1.46h13.97l-5.5 6.56.73.7 7.62-7.63v-.74"/></svg>
        </button>
        <button class="wm-madlib__location js-gps" type="button">
            <svg width="30" height="30" viewBox="-3 -3 30 30" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path fill="currentColor" d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </svg>
        </button>
        <div class="wm-madlib__input">
            <input class="wm-madlib__input__text" type="text" placeholder="Type your location" />
        </div>
    </form>
    <ul class="wm-types">
        {{~it.types :type:i}}
            <li class="wm-types__type">
                <button data-type="{{=type}}" class="wm-types__type__text wm-types__type__text--{{=type}} js-type">{{=type}}</button>
            </li>
        {{~}}
    </ul>
    <p class="interactive-share-container">
        <button class="interactive-share" data-network="facebook"></button>
        <button class="interactive-share" data-network="twitter"></button>
        <button class="interactive-share" data-network="email"></button>
    </p>
    <p class="wm-disclaimer">
        This information is user contributed, if you spot any errors or would like to add your contribution
        please click <a href="http://www.theguardian.com/world/2015/sep/09/are-you-organising-an-event-supporting-refugees">here</a>
    </p>
</div>
<div class="wm-user__panel">
    <p class="wm-contribution-results js-results">
        <a href="#" class="wm-contribution-results__clear js-clear">Clear</a>
        <span class="js-results-text"></span>
    </p>
    <ul class="wm-contributions js-contributions">
        {{~it.contributions :contrib:i}}
            <li class="wm-contributions__item js-contribution {{~contrib.types :type:j}} type--{{=type}}{{~}}">
                <ul class="wm-type-bubbles">
                    {{~it.types :type:j}}
                        <li class="wm-type-bubbles__type {{?contrib.types.indexOf(type) > -1}}wm-type-bubbles__type--{{=type}}{{?}}"></li>
                    {{~}}
                </ul>
                <div class="wm-contributions__item__expand">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path fill="currentColor" d="m 0,8 20,0 0,4 -20,0 0,-4 z" />
                        <path class="plus-path" fill="currentColor" d="m 8,0 0,20 4,0 0,-20 -4,0 z" />
                    </svg>
                </div>
                <h3 class="wm-contributions__item__name">{{=contrib.name}}</h3>
                <p class="wm-contributions__item__address">
                    {{=contrib.address}}
                    {{?contrib.latlng[0]}}
                        <a href="http://maps.google.com/maps/?q=loc:{{=contrib.latlng.join(',')}}">(show map)</a>
                    {{?}}
                </p>
                <div class="wm-contributions__item__detail">
                    {{?contrib.link}}
                        <p><a href="{{=contrib.link}}">{{=contrib.link}}</a></p>
                    {{?}}
                    <p style="white-space: normal">{{=contrib.oneline || contrib.description}}</p>
                </div>
            </li>
        {{~}}
    </ul>
</div>
