.wm-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.mapbox-improve-map {
    display: none;
}

// To override .leaflet-marker-icon style
.wm-pin.wm-pin {
    display: none;
}

.leaflet-marker-pane[data-types=''] > .wm-pin {
    display: block;
}

@each $type in map-keys($types) {
    .leaflet-marker-pane[data-types~='#{$type}'] > .wm-pin--#{$type} {
        display: block;
    }
}
