.wm-user {
    @include f-bodyCopy;
    font-size: 18px;
    line-height: 1.3;

    @include mq(tablet) {
        position: absolute;
        z-index: 10;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        width: 100%;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.wm-user__panel {
    background-color: white;
    box-sizing: border-box;

    &.wm-user__panel--padding {
        padding: 10px;
        @include mq(mobileLandscape) {
            padding: 20px;
        }
    }

    @include mq(tablet) {
        width: 320px;
        margin: 0 0 0 auto;
    }

    border-top: 1px solid #bdbdbd;
    &:first-child {
        border-top: 0;
    }
}

.wm-title {
    @include fs-headline(6);
    margin: 0 0 12px 0;
}

.wm-subtitle {
    @include f-header;
    font-size: 14px;
    margin: 0 0 3px 0;
    line-height: 1;
}

.wm-contributions {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 310px;
    overflow-y: scroll;
}

.wm-contributions__item {
    @include fs-textSans(2);
    display: block;
    box-sizing: border-box;
    height: 110px;
    padding: 5px 10px;
    @include mq(mobileLandscape) {
        padding: 10px 20px;
    }

    border-top: 1px solid #dcdcdc;
    &:first-child {
        border-top: 0;
    }

    p, h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.wm-contributions__item__name {
    @include fs-bodyHeading(1);
    margin: 0 0 3px 0;
}

.wm-types {
    @include fs-textSans(3);
    list-style: none;
    margin: 0 0 8px 0;
    padding: 0;

    &::before {
        content: "Filter by";
        display: block;
        margin-bottom: 3px;
    }
}

.wm-types__type {
    padding: 0;
    display: inline-block;

    input[type=checkbox] {
        display: none;
    }

    @each $type, $color in $types {
        input[type=checkbox]:checked + .wm-type.wm-type--#{$type} {
            color: white;
            background-color: $color;
        }
    }

    svg {
        display: inline-block;
        vertical-align: middle;
    }
}

.wm-type {
    padding: 4px 10px 4px 3px;
    border-radius: 100px;
    color: #767676;
    background-color: #f1f1f1;
    transition: all 0.1s ease-out;
    cursor: pointer;

    &:hover {
        background-color: #dfdfdf;
    }
}
